$accent--lightmode: #F8F5F0;
$primary--lightmode: #464646;
$primary-light--lightmode: #F8F5F0;
$primary-lighter--lightmode: #F2EDE3;
$shadow--lightmode: 0 0 16px rgba(10, 10, 10, 0.1);

$accent--darkmode: #22201b;
$primary--darkmode: #F2EDE3;
$primary-light--darkmode: #9f9f9f;
$primary-lighter--darkmode: #403d3a;
$shadow--darkmode: 0 0 16px rgba(226, 226, 226, 0.1);

$warning: #ffc107;
$info: #6086b4;
$success: #51d88a;
$danger: #ef5753;

$thumbnail-height: 15em;
$body-max-width: 1920px;
